/* This font matches the font used for the CCC Linktree, https://linktr.ee/Chinook_Curiosity_Central */
body {
    background-image: linear-gradient(to bottom right, #CFCFCF, aliceblue);;
    font-family: 'DM Sans', sans-serif;
}
.debug {
    border: 5px solid red;
}
.offcan {
    width: 50%;
}


.page {
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

.inverse-gradient{
    background-image: linear-gradient(#B7967A, #d8b294);
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vr {
    width: 2px; 
    height: 50px; 
    background-color: #000000; 
    margin: 0 0 12px 5%;
}
.hr {
    height: 2px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%; 
    background-color: #000000; 
}
.underline {
    padding-bottom: 1.5%; 
    border-bottom: 2px solid black;
}
.mx-auto {
    display: block; margin-left: auto; margin-right: auto;
}

/* The special effect dictionary */
@media (prefers-reduced-motion: no-preference) {
    .fading {
        animation: fade-in 2.2s;
    }
    .sliding {
        animation: slide-in 1.2s;
    }
    .spinning {
        animation: spin-in 4.2s;
    }
}

/* Fade-in effect for middle section */
.fade-target {
    opacity: 0;
    transform: rotateX(-10deg);
}
@keyframes fade-in {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.slide-target {
    opacity: 0;
    transform: translateY(-10px);
}
@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.spin-target {
    opacity: 0;
    transform: rotateY(-90deg);
}
@keyframes spin-in {
    from {
        opacity: 0;
        transform: rotateY(-90deg);
    }
    to {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transform: scaleX(1);
    opacity: 1;
    transition: 0.9s;
}

#navbar.invisible {
    transform: scaleX(0.99);
    opacity: 0;
}

.img-fluid {
    height: auto; 
    width: 90%;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-fluid:hover {
    box-shadow: 0 4px 8px 0 rgba(14, 14, 14, 0.438), 0 6px 20px 0 rgba(0, 0, 0, 0.637);
}

/* Mobile styles */
@media (max-width: 600px) {
    /* Adjusting the navbar for mobile */
    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-nav .nav-item {
        width: 100%;
        text-align: left;
    }

    .container,
    .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }

    .page {
        margin-top: 1px;
        margin-left: 0%;
        margin-right: 0%;
    }

    /* Make the Enigma Express container responsive */
    .inverse-gradient {
        width: 100%;
        margin-bottom: 20px;
    }
    .responsive-hr {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid currentcolor; /* Create a new bottom border if none exists */
    }

    /* Stack cards vertically on small screens */
    .row {
        flex-direction: column;
    }

    .col {
        width: 100%;
        margin-bottom: 20px;
    }
    
}
@media (max-width: 762px) {
    .offcan {
        width: 100%;
    }
}
